name: rerun

on:
  workflow_run:
    workflows: ["test","test2"]
    types:
      - completed
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt-get install gist
          echo '${{ toJson(github) }}' > github.txt
          gist-paste github.txt
      #- uses: peter-evans/repository-dispatch@v1
      #  with:
      #    token: ${{ secrets.ACTIONS_TRIGGER_PAT }}
      #    event-type: rerun
