name: rerun

on:
  workflow_run:
    workflows: ["test","test2"]
    types:
      - completed
  workflow_dispatch:
    inputs:
      group:
        description: '分组名称'
        default: 'ok'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Output github
        env:
          group: ${{ github.event.inputs.group }}
        run: |
          echo '${{ toJson(github) }}' > github.txt
          pastebinit -i github.txt -b paste.ubuntu.com
      - name: Rerun test
        uses: peter-evans/repository-dispatch@v1
        if: github.event.workflow_run.name == 'test'
        with:
          token: ${{ secrets.ACTIONS_TRIGGER_PAT }}
          event-type: Rerun test
      - name: Rerun test2
        uses: peter-evans/repository-dispatch@v1
        if: github.event.workflow_run.name == 'test2'
        with:
          token: ${{ secrets.ACTIONS_TRIGGER_PAT }}
          event-type: Rerun test2
