name: rerun

on:
  workflow_run:
    workflows: ["test","test2"]
    types:
      - completed
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{ toJson(github.event) }}
      #- uses: peter-evans/repository-dispatch@v1
      #  with:
      #    token: ${{ secrets.ACTIONS_TRIGGER_PAT }}
      #    event-type: rerun
